Repository archebase/axon: changes, and which Codecov flags are due for each by the changed paths.
All: ros2, ros1, cpp

docs: update README.md and coverage-ros.yml for improved coverage reporting
  .github/workflows/coverage-ros.yml
  README.md
Due: none

fix(coverage): ensure path normalization for Codecov in coverage-ros.yml
  .github/workflows/coverage-ros.yml
Due: none

docs: update README.md and coverage-ros.yml for improved coverage rep… (#12)
  .github/workflows/coverage-ros.yml
  README.md
Due: none

ci: enhance C++ and ROS coverage workflows with concurrency and caching improvements
  .github/workflows/coverage-cpp.yml
  .github/workflows/coverage-ros.yml
  .github/workflows/integration-tests.yml
  .github/workflows/unit-tests.yml
  README.md
Due: none

ci: add ccache preparation step to CI workflows for improved build performance
  .github/workflows/coverage-ros.yml
  .github/workflows/integration-tests.yml
  .github/workflows/unit-tests.yml
  .gitignore
  cpp/axon_mcap/CMakeLists.txt
Due: cpp

ci: remove ccache preparation step from CI workflows
  .github/workflows/coverage-ros.yml
  .github/workflows/integration-tests.yml
  .github/workflows/unit-tests.yml
Due: none

undo changes
  cpp/axon_mcap/CMakeLists.txt
Due: cpp

use cache correctly
  .github/workflows/coverage-ros.yml
  .github/workflows/integration-tests.yml
  .github/workflows/unit-tests.yml
Due: none

use cache correctly
  .github/workflows/integration-tests.yml
Due: none

update the tests workflow
  .github/workflows/coverage-cpp.yml
  .github/workflows/coverage-ros.yml
  .github/workflows/integration-tests.yml
Due: none

fix ci
  .github/workflows/ci.yml
  .github/workflows/coverage-cpp.yml
  .github/workflows/coverage-ros.yml
  .github/workflows/integration-tests.yml
  .github/workflows/unit-tests.yml
  README.md
Due: none

fix cache issue
  .github/workflows/coverage-ros.yml
  .github/workflows/integration-tests.yml
  .github/workflows/unit-tests.yml
Due: none

clear cache
  .github/workflows/coverage-ros.yml
  .github/workflows/integration-tests.yml
  .github/workflows/unit-tests.yml
Due: none

add debug info
  ros/axon_recorder/src/topic_manager.cpp
Due: ros2, ros1

fix ci workflow
  .github/workflows/coverage-cpp.yml
Due: none

cleanup code
  .github/workflows/coverage-cpp.yml
  .github/workflows/unit-tests.yml
  ros/axon_recorder/src/topic_manager.cpp
Due: ros2, ros1

add retry logic in ci
  .github/workflows/coverage-cpp.yml
  .github/workflows/unit-tests.yml
Due: none

remove retry logic from workflow
  .github/workflows/coverage-cpp.yml
  .github/workflows/unit-tests.yml
Due: none

add cache back
  .github/workflows/coverage-cpp.yml
  .github/workflows/coverage-ros.yml
  .github/workflows/integration-tests.yml
  .github/workflows/unit-tests.yml
Due: none

add cache back 2
  .github/workflows/coverage-cpp.yml
  .github/workflows/unit-tests.yml
Due: none

ci: enhance C++ and ROS coverage workflows with concurrency and caching improvements (#13)
  .github/workflows/ci.yml
  .github/workflows/coverage-cpp.yml
  .github/workflows/coverage-ros.yml
  .github/workflows/integration-tests.yml
  .github/workflows/unit-tests.yml
  .gitignore
  README.md
Due: none

feat(uploader): integrate AWS SDK for S3 support in axon_uploader
  .cursor/rules/conventional-commits.mdc
  .github/workflows/coverage-cpp.yml
  .gitignore
  cpp/README.md
  cpp/axon_logging/CMakeLists.txt
  cpp/axon_mcap/CMakeLists.txt
  cpp/axon_uploader/CMakeLists.txt
  cpp/axon_uploader/edge_uploader.cpp
  cpp/axon_uploader/edge_uploader.hpp
  cpp/axon_uploader/s3_client.cpp
  cpp/axon_uploader/s3_client.hpp
Due: cpp

fix gitignore
  .gitignore
Due: none

remove call_once from s3_client.cpp
  cpp/axon_uploader/s3_client.cpp
Due: cpp

enable logging and uploader in unit test
  .github/workflows/coverage-cpp.yml
  .github/workflows/unit-tests.yml
  cpp/README.md
  cpp/axon_uploader/CMakeLists.txt
Due: cpp

fix cache version in ci
  .github/workflows/coverage-cpp.yml
  .github/workflows/unit-tests.yml
Due: none

fix reviewer's comments
  cpp/axon_uploader/s3_client.cpp
  cpp/axon_uploader/s3_client.hpp
Due: cpp

fix bug
  .github/workflows/coverage-cpp.yml
  .github/workflows/unit-tests.yml
  cpp/axon_uploader/s3_client.cpp
  cpp/axon_uploader/s3_client.hpp
Due: cpp

address reviewer's comments
  cpp/axon_uploader/s3_client.cpp
Due: cpp

feat(uploader): migrate S3Client from minio-cpp to AWS SDK for C++ (#11)
  .cursor/rules/conventional-commits.mdc
  .github/workflows/coverage-cpp.yml
  .github/workflows/unit-tests.yml
  .gitignore
  cpp/README.md
  cpp/axon_logging/CMakeLists.txt
  cpp/axon_mcap/CMakeLists.txt
  cpp/axon_uploader/CMakeLists.txt
  cpp/axon_uploader/edge_uploader.cpp
  cpp/axon_uploader/edge_uploader.hpp
  cpp/axon_uploader/s3_client.cpp
  cpp/axon_uploader/s3_client.hpp
Due: cpp

polish code
  docs/test-design-recorder-core-2025-12-25.md
  ros/axon_recorder/src/config_parser.cpp
  ros/axon_recorder/src/config_parser.hpp
  ros/axon_recorder/src/recorder_node.cpp
  ros/axon_recorder/src/recorder_node.hpp
  ros/axon_recorder/test/CMakeLists.txt
  ros/axon_recorder/test/integration/test_recorder_node_recording.cpp
Due: ros2, ros1

implement todo in design docs
  docs/test-design-recorder-core-2025-12-25.md
  ros/axon_recorder/test/unit/test_http_callback_client.cpp
  ros/axon_recorder/test/unit/test_metadata_injector.cpp
  ros/axon_recorder/test/unit/test_recording_service_impl.cpp
  ros/axon_recorder/test/unit/test_recording_session.cpp
  ros/axon_recorder/test/unit/test_worker_thread_pool.cpp
Due: none

fix callback url
  ros/axon_recorder/test/unit/test_http_callback_client.cpp
Due: none

remove test
  ros/axon_recorder/test/unit/test_http_callback_client.cpp
Due: none

simplify test code
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
  .github/workflows/tests-ros.yml
  docs/test-design-recorder-core-2025-12-25.md
  ros/axon_recorder/test/CMakeLists.txt
  ros/axon_recorder/test/stress/test_recording_service_impl_stress.cpp
  ros/axon_recorder/test/unit/mock_recorder_context.hpp
  ros/axon_recorder/test/unit/mock_ros_interface_logging.hpp
  ros/axon_recorder/test/unit/test_http_callback_client.cpp
  ros/axon_recorder/test/unit/test_recorder_context_interface.cpp
  ros/axon_recorder/test/unit/test_recording_service_impl.cpp
  ros/axon_recorder/test/unit/test_ros_sink.cpp
Due: none

fix ci
  .github/workflows/ci.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/tests-ros.yml
  .github/workflows/unit-tests-cpp.yml
  ros/axon_recorder/config/default_config.yaml
  ros/axon_recorder/test/unit/test_http_callback_client.cpp
Due: none

Path conditions:
  ros2: any of: ros/axon_recorder/src/, but not: ros/axon_recorder/test/**/*, cpp/axon_logging/test/**/*, cpp/axon_mcap/test/**/*, cpp/axon_uploader/test/**/*, **/test/**/*, **/*_test.cpp, **/test_*.cpp, **/rosidl_typesupport_cpp/**/*, **/rosidl_typesupport_introspection_cpp/**/*, **/rosidl_generator_cpp/**/*
  ros1: any of: ros/axon_recorder/src/, but not: ros/axon_recorder/test/**/*, cpp/axon_logging/test/**/*, cpp/axon_mcap/test/**/*, cpp/axon_uploader/test/**/*, **/test/**/*, **/*_test.cpp, **/test_*.cpp, **/rosidl_typesupport_cpp/**/*, **/rosidl_typesupport_introspection_cpp/**/*, **/rosidl_generator_cpp/**/*
  cpp: any of: cpp/axon_mcap/, cpp/axon_uploader/, cpp/axon_logging/, but not: ros/axon_recorder/test/**/*, cpp/axon_logging/test/**/*, cpp/axon_mcap/test/**/*, cpp/axon_uploader/test/**/*, **/test/**/*, **/*_test.cpp, **/test_*.cpp, **/rosidl_typesupport_cpp/**/*, **/rosidl_typesupport_introspection_cpp/**/*, **/rosidl_generator_cpp/**/*
